---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";
import Title from "../components/Title.astro";
---

<Layout title="About Us">
  <main>
    <Title>About SweenSoftech</Title>
    <p>
      At SweetNSoftech, we believe in the power of innovation to shape a better
      future. Our mission is to push the boundaries of technology while
      prioritizing ethical principles and human well-being.
    </p>
    <h2>Our Vision</h2>
    <p>
      As we continue to innovate and create groundbreaking technologies, our
      vision remains clear: to harness the power of technology for the
      betterment of humanity. Whether it's developing AI systems that promote
      empathy and understanding or designing software that enhances
      accessibility and inclusivity, we are driven by a desire to make a
      positive difference in the world.
    </p>
    <p>
      Join us at SweetNSoftech as we embark on this exciting journey of
      innovation and discovery. Together, we can shape a future where technology
      serves as a force for good, enriching lives and empowering individuals
      around the globe.
    </p>
  </main>
</Layout>
