---
import Layout from "../layouts/Layout.astro";
import "../styles/main.css";
import Title from "../components/Title.astro";
---

<Layout title="About Us">
  <main>
    <Title>About SweenSoftech</Title>
  </main>
</Layout>
