---
import Layout from "../layouts/Layout.astro";
import ContactForm from "../components/ContactForm.jsx";
---

<Layout title="Contact Us">
  <main>
    <h1>Please fill in this form to get in contact</h1>
    <ContactForm client:load />
  </main>
</Layout>

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Work Sans Variable", sans-serif;
  }
</style>
