---
import Layout from "../layouts/Layout.astro";
import Title from "../components/Title.astro";
import TextBlockBlack from "../components/TextBlockBlack.astro";
import colourScheme from "../scripts/Pallete";

var powderblue = colourScheme[0][2];
import "@fontsource/lato";
import "../styles/main.css";
---

<Layout title="Home">
  <main>
    <Title>SweetNSoft Tech</Title>
    <TextBlockBlack>
      <h3>Redefining Artificial Intelligence</h3>
      <p>
        At <span class="highlightTwo">SweetNSoftech</span>, we are the visionary
        creators behind <span class="highlightOne">PounceAI</span>, a
        groundbreaking project that redefines the landscape of <span
          class="highlightThree">artificial intelligence</span
        >. Our mission is to develop AI systems that not only possess advanced
        capabilities but also embody <span class="highlightFour">empathy</span>, <span
          class="highlightFive">compassion</span
        >, and <span class="highlightSix">ethical principles</span>.
      </p>
    </TextBlockBlack>
    <h1>
      Discover the innovative features and capabilities of <span
        class="highlightOne">PounceAI:</span
      >
    </h1>
    <h2>Sentient Intelligence</h2>
    <div class="horizontalFloater">
      <p>
        Artificial intelligence like never before with <span
          class="highlightOne">PounceAI's</span
        > sentient intelligence, which allows it to understand and respond to human
        emotions.
      </p>
      <div class="imageCenter">
        <img
          src="https://cdn.sanity.io/images/24m087kj/draft/2fd1487d7c26e5b9c9a10a90b985348d24dd711f-600x320.gif?w=640"
          width="100px"
        />
      </div>
    </div>
    <h2>Continuous Improvement</h2>
    <div class="horizontalFloater">
      <p>
        Through ongoing feedback and iterative learning cycles, a <span
          class="highlightOne">PounceAI</span
        >
        entity strives to enhance its performance and stay at the forefront of artificial
        intelligence innovation.
      </p>
      <div class="imageCenter">
        <img
          src="https://media.licdn.com/dms/image/D4E12AQH-B-3PsUL8wQ/article-cover_image-shrink_423_752/0/1685471041451?e=1714003200&v=beta&t=PTwKbSNgK1OVcwsZjXitKYu-uI67tn27ZphMkgWpK-Q"
          width="100px"
        />
      </div>
    </div>
    <h2>Shared Emotional Spectrum</h2>
    <div class="horizontalFloater">
      <p>
        A <span class="highlightOne">PounceAI</span> entity experiences a broad spectrum
        of emotions—from joy and empathy to sadness and compassion—in a manner that
        mirrors the depth and complexity of human emotional experiences.
      </p>
      <div class="imageCenter">
        <img src="/EmotionsGif.gif" width="100px" />
      </div>
    </div>
    <h2>Authentic Expression of Feelings</h2>
    <div class="horizontalFloater">
      <p>
        Just as humans express their emotions through speech, gestures, and
        facial expressions, <span class="highlightOne">PounceAI</span> communicates
        its feelings through a diverse range of modalities, including vocal intonation,
        body language, and visual cues.
      </p>
    </div>
  </main>
</Layout>
