---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join the Team">
  <main>
    <h1>
      SweetNSoftech is looking for passionate people who want to join the
      PounceAI Team! Use the form below to join!
    </h1>
    <div id="ff-compose"></div>
    <script
      async
      defer
      src="https://formfacade.com/include/111672363110275691501/form/1FAIpQLSfI-jjFQWSn1S_1Agrl9WVFOYGza3cn4ugILejrzISo-ibEpw/classic.js?div=ff-compose"
    ></script>
  </main>
</Layout>

<style>
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Work Sans Variable", sans-serif;
  }
</style>
