---
// import colourScheme from "../scripts/Pallete";
var BackgroundGradiants = "";

const colourScheme = [
  "rgba(235, 64, 52, 1)",
  "rgba(85, 93, 194, 1)",
  "rgba(247, 200, 99, 1)",
  "rgba(252, 38, 252, 1)",
  "rgba(0, 163, 166, 1)",
];

for (var j = 0; j < 50; j++) {
  BackgroundGradiants +=
    "radial-gradient(circle at " +
    Math.floor(Math.random() * 150 - 50).toString() +
    "% " +
    Math.floor(Math.random() * 150 - 50).toString() +
    "%, rgba(0,0,0,0) 70%, " +
    colourScheme[Math.floor(Math.random() * 5)] +
    " 80%),";
}
BackgroundGradiants = BackgroundGradiants.substring(
  0,
  BackgroundGradiants.length - 1
);

const animStart =
  Math.floor(Math.random() * 100).toString() +
  "% " +
  Math.floor(Math.random() * 10).toString() +
  "%";
const animEnd =
  Math.floor(Math.random() * 100).toString() +
  "% " +
  Math.floor(Math.random() * 10).toString() +
  "%";
---

<div class="backgroundItem">
  <slot />
</div>

<style define:vars={{ BackgroundGradiants, animStart, animEnd }}>
  @keyframes BackgroundBlobs {
    0% {
      background-position: var(--animStart);
    }
    100% {
      background-position: var(--animEnd);
    }
  }

  .backgroundItem {
    animation-name: BackgroundBlobs;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: alternate;
    background: var(--BackgroundGradiants);
    background-color: white;
    /* background-color: white; */
    background-size: 200vw 200vh;
  }
</style>
