---

---

<div class="blackBlock"><slot /></div>

<style>
  .blackBlock {
    width: 90%;
    background-color: rgb(27, 27, 27);
    box-shadow: inset 0px 0px 3px 4px rgba(255, 255, 255, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    margin: 0;
    padding: 5%;
    z-index: -20;
  }
</style>
