---
import "@fontsource/lato/100-italic.css";
import "@fontsource/lato/300-italic.css";
import "@fontsource/lato/400-italic.css";
import "@fontsource/lato/700-italic.css";
import "@fontsource/lato/900-italic.css";
import colourScheme from "../scripts/Pallete";
---

<div class="titleContainer"><h1 class="title"><slot /></h1></div>

<style>
  .titleContainer {
    width: 60%;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    margin: 5%;
    float: right;
  }

  @keyframes colours {
  }
  .title {
    font-size: 5rem;
    width: 100%;
    font-family: "Lato", sans-serif;
    color: black;
  }
</style>
