---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Title from "../components/Title.astro";
import Navbar from "../components/Navbar.astro";
import BackgroundAnim from "../components/BackgroundAnim.astro";
import MainArea from "../components/MainArea.astro";
import BottomArea from "../components/BottomArea.astro";
// Supports weights 100-900
import "@fontsource-variable/work-sans";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <BackgroundAnim>
      <Navbar currentPage={title} />
      <MainArea>
        <Title>{title}</Title>
        <slot />
      </MainArea>
    </BackgroundAnim>
    <BottomArea />
  </body>
</html>

<style>
  body {
    border-width: 0;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  p {
    font-family: "Work Sans Variable", sans-serif;
  }
</style>
